/* Police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* Paramètres CSS globaux */
body {
	margin: 0;
	padding: 0;
	background-image: url("../images/fond.jpg");
	background-repeat: no-repeat;
	background-position-y: -190px;
	color: white;
	font-family: 'Open Sans', Roboto, "Helvetica Neue", Arial, sans-serif;
}

article {
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

article h1 {
	margin: 0;
	font-size: 2.8em;
	text-transform: uppercase;
	text-shadow: 0 0 .5em black;
}

article p {
	font-size: 1.4em;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 0 .4em black;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

footer p {
	font-size: .9em;
	color: #CCC;
	text-shadow: 0 0 .6em black;
}
