/* Police d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* Paramètres CSS globaux */
body {
	margin: 0;
	padding: 0;
	background-image: url("../images/fond.jpg");
	background-repeat: no-repeat;
	background-position-y: 66%;
	background-position-x: center;
	color: white;
	font-family: 'Open Sans', Roboto, "Helvetica Neue", Arial, sans-serif;
}

article {
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

article h1 {
	margin: 0;
	padding: 0 12px;
	font-size: 2.4em;
	text-transform: uppercase;
	text-shadow: 0 0 .5em black;
	text-align: center;
}

article > p {
	padding: 0 12px;
	font-size: 1.3em;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 0 .4em black;
}

article div {
	padding-inline: 1rem;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

article div > * {
	background-color: white;
	padding: 1rem;
	margin: 0;
	border-radius: 8px;
	font-size: 1.6em;
	color: black;
	box-shadow: 0 4px .3em rgba(0, 0, 0, .3);
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

footer p {
	padding: 0 12px;
	font-size: .9em;
	color: #CCC;
	text-shadow: 0 0 .6em black;
}
